header {
  width: 100%;
  background-color: #fff;
  padding: 10px 0;
}

.headerWrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.title {
  font-size: 18px;
}

.headerAuth {
  display: flex;
  gap: 20px;
}

.btnSignIn {
  font-size: 18px;
  padding: 10px 14px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.btnSignUp {
  color: #52c41a;
  font-size: 18px;
  padding: 10px 14px;
  background-color: #fff;
  border: 1px solid #52c41a;
  border-radius: 5px;
  cursor: pointer;
}
